  /* ------ general ------ */
    @import url(global.css);
    @import url('https://fonts.googleapis.com/css2?family=Funnel+Display&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Funnel Display', Arial, sans-serif;
       color: var(--dark-green);
  }

  html,body {
    
      height: 100%;
      scroll-behavior: smooth;
      overflow-y: scroll;
  }

  /* effet scroll */
  body {
      scroll-snap-type: y mandatory;
     
  }

  section {
      scroll-snap-align: start;
  }

  /* ------ barre nav ------ */
  nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 64px;
      background: transparent;
      color: rgb(0, 0, 0);
      padding: 1em;
      display: flex;
      justify-content: space-between;
      gap: 2em;
      transition: transform 0.4s ease, opacity 0.4s ease;
      z-index: 1000;
  }

  /* Logo (image) */
  .logo img {
      height: 40px;
      /* je pense c est genre dans les 300px */
      width: auto;
  }

  /* Nav links */
  .nav-links {
      display: flex;
      gap: 2em;
  }

  .nav-links a {
      color: #300f21;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
  }

  .nav-links a:hover {
      color: #523a47;
  }


  /* ------ general section ------ */
  .page-section {
      height: 100vh;
      /* full viewport */
      padding: top 64px; 
      /* space for navbar */
      box-sizing: border-box;
      /* include padding in height */
      display: flex;
      align-items: stretch;
      justify-content: center;
       overflow: hidden; /* prevent overflow */
  }

  /* ------ css pour chaque section------ */

  /* acceuil negoci */
  .section1 {
      
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4em;
  }


  /* etape 1 */
  .section2 {
      background: #9daab3;
              
          display: flex;
flex-direction: column;
align-items: flex-start;
gap: 80px;


  }

    .section2 > div {

display: flex;
justify-content: center;
align-items: flex-start;
gap: 32px; }

.full-width-center {
  width: 100%;              /* takes all available horizontal space */
  min-height: 200px;        /* or any height you want */
  
  display: flex;            /* use flexbox for centering */
  align-items: space-between;      /* vertical centering */
  justify-content: space-between;  /* horizontal centering (optional) */

 
  box-sizing: border-box;   /* ensures padding doesn’t break layout */
  padding: 20px;
gap: 40px; 
}

  /* etape 2 */
  .section3 {
      background: #726577;
           
          display: flex;
flex-direction: column;
align-items: flex-start;
gap: 72px;
  }

  .section3 > div {

display: flex;
justify-content: center;
align-items: flex-start;
gap: 32px; }
  /* timing parfait */
  .section6 {
      background: #92a399;
      flex-direction: column;
gap: 50px;
    display: flex;
align-items: flex-start;

  }

  /* etape 3 */
  .section4 {
      background: #99918a;
           background: #92a399;
      flex-direction: column;
gap: 50px;
    display: flex;
align-items: flex-start;
  }

  .calc div {
display: flex;
width: 400px;
height: 650px;
padding: 20px;
flex-direction: column;
align-items: center;

gap: 30px;
border-radius: 32px;
background: rgba(204, 204, 204, 0.40);

}

.calc {
    display: flex;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
gap: 20px;
align-self: stretch;
flex-wrap: wrap;
}

  /* etape 4 */
  .section5 {
      background: #887b7a;
          display: flex;
flex-direction: column;
align-items: flex-start;
gap: 72px;
  }

    .box3 {
    display: flex;
    width: 300px;
    height: 436px;
    padding: 36px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    gap: 28px;
    border-radius: 20px;
    border: 1px solid rgba(250, 172, 107, 0.9);
  }



.section5 > div {

display: flex;
justify-content: center;
align-items: flex-start;
gap: 32px; }
  /* timing parfait */
  .section6 {
      background: #92a399;
      flex-direction: column;
gap: 50px;
    display: flex;
align-items: flex-start;

  }

  .section6-intro {
display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 70px;
}

.timeline div {
display: flex;
width: 240px;
height: 360px;
padding: 20px;
flex-direction: column;
align-items: center;

gap: 40px;
border-radius: 32px;
background: rgba(204, 204, 204, 0.40);

}

.timeline {
    display: flex;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
gap: 20px;
align-self: stretch;
flex-wrap: wrap;
}

.email {
    display: flex;
    width: 760px;
    height: 254px;
   
padding: 20px 40px;
flex-direction: column;
align-items: center;
gap: 26px;
border-radius: 20px;
border: 1px solid #159FB8;
}

.email-icon-text {
    display: flex;
flex: row;
gap: 26px;
flex-shrink: 0;
align-self: stretch;
}

.email-icon-text img {
height: 96px;
width: 96px;
}

.eviter {
    display: flex;
width: 500px;
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
border-radius: 32px;
background: rgba(219, 82, 96, 0.10);

}

.section6-low {
    display: flex;
padding: 0 40px;
align-items: center;
justify-items: center;
gap: 20px;
align-self: stretch;
align-content: flex-start;
margin: 0 auto;  /* centers it horizontally */

}

.timeline {
    display: flex;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
gap: 20px;
align-self: stretch;
flex-wrap: wrap;
}

  /* jour j */
  .section7 {
      background: #70757a;
       display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .section7 > div > div {
    display: flex;
    width: 300px;
    height: 436px;
    padding: 36px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    gap: 28px;
    border-radius: 20px;
    border: 1px solid rgba(250, 172, 107, 0.9);
  }

.section7 img {
    width: 74px;
    height: 74px;
}

.section7 > div {

display: flex;
justify-content: center;
align-items: flex-start;
gap: 32px; }

  /* download p)age */
  .section8 {
      background: transparent;
    
    display: flex;
    flex-direction: column;
    gap: 72px;

    align-items: center;
    justify-items: center;
}


  

  .content-container {
      display: flex;
      flex: 1;    
      align-items: center;
      justify-content: space-between;
      gap: 3em;
      width: 90%;
        max-width: fit-content;
  height: 100%; /* fill section height */
  max-height: fit-content;
  
  
  }





  .text-side {
      flex: 1;
      color: white;
    overflow: hidden; 
    gap: 1rem;
  }

  .text-side h1 {

      /* color: #000000; */
  }

  .text-side p {}


  .image-side {
      flex: 1;
      display: flex;
      justify-content: center;
      gap: 100px;
  }

  .image-side img {
      width: 100%;
      max-width: 550px;
      height: auto;
      border-radius: 10px;
      object-fit: cover;
  }

  

.custom-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns in row 1 */
  grid-template-rows: auto auto;        /* 2 rows */
  gap: 40px;
  width: 90%;
  max-width: 1200px;
}

.custom-container .text-box:nth-child(4) {
  grid-column: 1 / 2; /* first column of row 2 */
}


.custom-container .image-side {
  grid-column: 2 / 4; /* spans 2 columns in row 2 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-container .image-side img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}
