
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
      height: 100%;
      font-family: Arial, sans-serif;
      scroll-behavior: smooth;
      overflow-y: scroll;
    }

    /* effet scroll */
    body {
      scroll-snap-type: y mandatory;
    }

    section {
      scroll-snap-align: start; 
    }

    /* barre nav */
    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: transparent;
      color: rgb(0, 0, 0);
      padding: 1em 0;
      display: flex;
      justify-content: center;
      gap: 2em;
      transition: transform 0.4s ease, opacity 0.4s ease;
      z-index: 1000;
    }

    nav a {
      color: black;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
    }

    nav a:hover {
      color: #771800;
    }



    /* section fullsreen */
    .page-section {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3em;
      color: white;
      font-weight: bold;
    }

    /* css pour chaque section */

     /* acceuil negoci */
    .section1 { 
        background: #c4acb4; }

     /* etape 1 */
    .section2 {
        background: #9daab3; }

    /* etape 2 */
    .section3 { 
        background: #726577; }

    /* etape 3 */
    .section4 
    { background: #99918a; }

    /* etape 4 */
    .section5 { 
        background: #887b7a; }

    /* timing parfait */
    .section6 
    { background: #92a399; }

    /* jour j */
    .section7 
    { background: #70757a; }

    /* download p)age */
    .section8
     { background: #9b958d; }