@import url('https://fonts.googleapis.com/css2?family=Funnel+Display&display=swap');

body {
  margin: 0;
  font-family: sans-serif;
  font-family: 'Funnel Display', sans-serif;
}

h1 {
    color: #D8DED6;
    font-size: xx-large;
}

section {
  width: 100%;
  position: relative;
}

/* SECTION 1 */
.section1 {
  height: 200vh; /* enough for horizontal + vertical scroll */
  background:  #735053;
}

.container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5vw;
  box-sizing: border-box;
   align-items: flex-end; /* align all items to the bottom */
}

.side {
  width: 60vw;
  height: 50vh;
  background: transparent;
  border-radius: 20px;
}

.illustration {
  width: 800vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
}

/* SECTION 2 */
.section2 {
  min-height: 100vh;
  background: #735053;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #D8DED6, #D76D77, #735053);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #D8DED6, #DB5260, #735053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.bottom-block {
  margin-top: 30px;
  width: 80%;
  height: 200px;
  background: #a777e3;
  border-radius: 15px;
}
